body, html, div {margin: 0; padding: 0}

#wrapper {position: relative; overflow: hidden; height: 100%;}
#image {text-align: center;}
#page {margin: 0 auto 0 auto; z-index: 1;}

.ruler {width: 100%; height: 10px; position: absolute; z-index: 2;}
.ruler:hover {padding-bottom: 4px;}

#ruler1 {top: 25%;}
#ruler2 {top: 50%;}
#ruler3 {top: 75%;}

#ruler1 .line {background:#FF0000;}
#ruler2 .line {background:#00FF00;}
#ruler3 .line {background:#0000FF;}

.number {background: #CCC; color: #000; font-family: sans-serif; font-size: 10px; position: absolute; left: 0; width: 10px; text-align: center;}

.line {margin-top: 4px; margin-bottom: 5px; height:1px; }